.recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
  color: #fff;
}

.recipe__directions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  flex: 1;
}

.recipe__directions__row {
  display: flex;
  justify-content: space-between;
}

.recipe h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.recipe__directions div > div {
  margin: 0 1rem 1rem;
  color: white;
  background-color: #585050;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.recipe__directions img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  margin: 0 1rem;
}
