.recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
  color: #fff;
}

.recipe__directions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  flex: 1;
}

.recipe h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.recipe__directions div {
  margin: 0 1rem;
}

@media (min-width: 580px) {
  /* .recipe__directions {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  } */

  .recipe__directions h2 {
    font-size: 1.25rem;
  }
}
