.search-recipe__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  color: #40005d;
}

.search-recipe__controls .search-buttons {
  display: flex;
}

.search-recipe__controls .search-buttons {}
.search-recipe__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.search-recipe__control input,
textarea {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.search-recipe__control div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

h4 {
  padding: 0 0 1rem 0;
  color: #fff;
  text-align: left;
}

.search-recipe__actions {
  margin-right: 5px;
}

.search-recipe__controls .search-recipe__control button {
  margin-left: 10px;
  width: 42px;
  height: 42px;
  padding: 0px;
}
